<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <appSettings>
    <add key="Template" value="temp.xls"/>
    <add key="Path" value="D:\Выгрузки\"/>
    <add key="StartTime" value="15:30:00"/>
    <add key="Duration" value="23:59:59.9999"/>

    <!--add key="ConnectionString" value="Data Source=KPBOF;Persist Security Info=True;User ID=BOF;Password=bof7jfa4"/-->
    <add key="ConnectionString" value="Data Source=KPBOF;Persist Security Info=True;User ID=BOF;Password=bof7jfa4"/>
  </appSettings>
</configuration>
