<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="Module" value="CoreAssembly\Converter.dll"/>
    <!--add key="Module" value="Dummy"/-->
    <add key="Port" value="8000"/>
    <add key="APIPort" value="8010"/>
    <add key="ConverterNumber" value="2"/>
    <add key="ConnectionString" value="DATA SOURCE=localhost;PERSIST SECURITY INFO=True;USER ID=SMK;PASSWORD=SMK" />
    <add key="AllowIPs" value="*;10.96.35.207"/>
  </appSettings>
</configuration>