<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <add key="Address" value="10.96.35.206;10.96.35.207;10.96.35.208;10.96.165.24" />
    <!--10.96.165.51 - PLC0.1-->
    <!--10.96.165.61 - PLC0.2-->
    <!--10.96.165.55 - PLC2.1-->
    <!--10.96.165.56 - PLC2.2-->
    <!--10.96.165.57 - PLC2.3-->

    <add key="TimeOut" value="120" />
  </appSettings>
</configuration>