<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HeatControl.Properties.Settings.ChemistryConnectionString"
            connectionString="Data Source=C:\nucleus\Fusion\Models\Shixta_I_Selector\Chemistry.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="HeatControl.Properties.Settings.ChemistryConnectionString1"
            connectionString="Data Source=|DataDirectory|\Chemistry.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="HeatControl.Properties.Settings.HeatInfoConnectionString"
            connectionString="Data Source=|DataDirectory|\HeatInfo.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="HeatControl.Properties.Settings.HeatInfoConnectionString1"
            connectionString="Data Source=C:\nucleus\Fusion\Models\Shixta_I_Selector\bin\Debug\HeatInfo.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
</configuration>